@import '../../utils/shared-styles.css';
.col div {
  padding-bottom: 10px;
}

.col div.buttons span {
  margin-right: 10px;
  color: white;
}

.title {
  font-weight: bold;
  color: #003c69;
}

.colvalues span {
  font-weight: bold;
}

.colvalues span.warning {
  font-weight: bold;
  color: red;
}

.greybg {
  padding: 5px;
  background-color: #f4f7fa;
  align-self: flex-start;
}
