<div class="twocols">
  <app-carditem [title]="title" [items]="items"></app-carditem>
  <div class="twocolform">
    <div class="col">
      <div class="title">Offence Details</div>
      <div class="twocolform">
        <div class="col">
          <div>
            <span>Registration</span>
          </div>
          <div>
            <span>Offence Date </span>
          </div>
          <div>
            <span>Offence Time</span>
          </div>
          <div>
            <span>Offence Location</span>
          </div>
          <div>
            <span>Infringement Offence</span>
          </div>
          <div>
            <span>Permitted Speed</span>
          </div>
          <div>
            <span>Detected Speed</span>
          </div>
          <div>
            <span>Alleged Speed</span>
          </div>
          <div>
            <span>View Camera Image</span>
          </div>
        </div>
        <div class="col colvalues">
          <div>
            <span>QLD - XXX</span>
          </div>
          <div>
            <span>20.01.2019 </span>
          </div>
          <div>
            <span>08.00</span>
          </div>
          <div>
            <span>300 King St Brisbane 4001</span>
          </div>
          <div>
            <span>Excessive Speed</span>
          </div>
          <div>
            <span>50 km/h</span>
          </div>
          <div>
            <span>57 km/h</span>
          </div>
          <div>
            <span>54 km/h</span>
          </div>
        </div>
      </div>
      <div class="buttons">
        <span class="renew" (click)="onCancel()">RENEW</span>
        <span class="sell">SELL</span>
        <span class="logbook">LOGBOOK</span>
      </div>
    </div>
    <div class="col colvalues greybg">
      <div>
        <div>Speeding Fine</div>
        <span class="warning">- 2 Demerit points</span>
      </div>
      <div class="twocolform">
        <div class="col">
          <div>
            <span>Due Date</span>
          </div>
          <div>
            <span>Amount</span>
          </div>
        </div>
        <div class="col">
          <div>
            <span>12.12.2020</span>
          </div>
          <div>
            <span>$100.00</span>
          </div>
        </div>
      </div>
      <div class="buttons">
        <span class="save">PAY NOW</span>
      </div>
    </div>
  </div>
</div>
