<div class="twocols">
  <app-carditem [title]="title" [items]="items"></app-carditem>
  <div class="twocolform">
    <div class="col">
      <div>Unit No.</div>
      <input type="text" value="3">

      <div>Street Name</div>
      <input type="text" value="Shirley">

      <div>State</div>
      <input type="text" value="QLD">

      <div>Postcode</div>
      <input type="text" value="4560">
    </div>

    <div class="col">
      <div>Street No.</div>
      <input type="text" value="116">

      <div>Suburb / City</div>
      <input type="text" value="Nambour">

      <div>Type</div>
      <input type="text" value="Suburb">

      <div>Country</div>
      <input type="text" value="Australia">

      <div class="buttons">
        <span class="cancel" (click)="onCancel()">CANCEL</span>
        <span class="save">SAVE</span>
      </div>
    </div>
  </div>
</div>
