:host {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  margin-left: 40px;
  font-size: 140%;
  color: #003c69;
}
