:host {
  text-align: left;
}

.container ul li a {
  text-decoration: none;
  color: #003c69;
}

.container ul li {
  display: inline;
}

.container ul li a.inactivelink {
  pointer-events: none;
  cursor: default;
  color: grey;
}
