@import '../../utils/shared-styles.css';
.col div {
  padding-bottom: 10px;
}

.col div.buttons span {
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.renew {
  background-color: #78ba00;
}

.sell {
  background-color: #007eb1;
}

.logbook {
  background-color: #0b2e4c;
}

.title {
  font-weight: bold;
  color: #003c69;
}
